[Unit]
Description=Motion
Documentation=https://motion-project.github.io
Wants=network-online.target
After=network-online.target

[Service]
PermissionsStartOnly=true
ExecStart=/usr/bin/motion
User=motion
Group=motion

[Install]
WantedBy=multi-user.target
